.articles-item{
    width: 570px;
    margin-bottom: 30px;
    outline: 1px solid gray;
}

.articles-list{
    flex-wrap: wrap;
}

.articles-item:not(:nth-child(2n)){
    margin-right: 30px;
}

.blog-prewiev-image{
    object-fit: cover;
}

.blog-preview-text{
    padding: 30px;
}

.blog-preview-time{
    display: block;
    margin-bottom: 5px;
}

.blog-preview-title{
    margin: 0;
    margin-bottom: 15px;
}

.blog-preview-descr{
    margin: 0;
}
