.clients{
    border-bottom: 1px solid #DADADA;
}

.clients-item{
    flex-direction: column;
    width: 370px;
    padding: 50px 36px;
    padding-bottom: 30px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

.clients-item:not(:nth-child(3n)){
    margin-right: 30px;
}

.clients-item-descr{
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

.clients-user{
    margin-top: auto;
    align-items: center;
    border-top: 1px solid #DADADA;
    width: 100%;
    padding-top: 28px;
}

.clients-avatar{
    width: 67px;
    flex-shrink: 0;
    margin-right: 17px;
}

.clients-avatar img{
    width: 100%;
    height: 100%;
    border: 2px solid #3172B9;
    border-radius: 100%;
}

.clients-name{
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 31px;
    color: #1C1C1C;
}

.clients-post{
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}
