.footer{
    padding: 42px 0;
}

.footer-container{
    align-items: center;
    justify-content: space-between;
}

.footer-right,
.footer-left{
    align-items: center;
}

.footer-logo{
    margin-right: 25px;
}

.footer-item:not(:last-child){
    margin-right: 28px;
}
