.hero{
    padding: 100px 0;
}

.hero-content{
    max-width: 50%;
    flex-direction:column;
    align-items: flex-start;
}

.hero-title{
    margin: 0;
    margin-bottom: 25px;
}

.hero-descr{
    margin: 0;
    margin-bottom: 34px;
}

.hero-btn{
    margin-bottom: 14px;
}
