.hero{
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(../resources/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content{
    max-width: 50%;
    flex-direction:column;
    align-items: flex-start;
}

.hero-title{
    margin: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
}

.hero-descr{
    margin: 0;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #787878;
}

.hero-btn{
    margin-bottom: 14px;
    min-width: 230px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-secure{
    font-size: 11px;
    line-height: 17px;
    text-transform: uppercase;
    color: #787878;
    background-image: url(../resources/secure.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 14px 17px;
    padding-left: 20px;
}
