.services{
    border-bottom: 1px solid #DADADA;
}

.services-title{
    text-align: center;
}

.services-descr{
    text-align: center;
}

.services-item{
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    width: 270px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

.services-item:not(:nth-child(4n)){
    margin-right: 30px;
}

.services-item-icon{
    margin-bottom: 25px;
}

.services-item-title{
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1C1C1C;
}

.services-item-descr{
    margin: 0;
    text-align: center;
     font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #787878;
}
