@import url(header.css);
@import url(hero.css);
@import url(services.css);
@import url(articles.css);
@import url(clients.css);
@import url(contacts.css);
@import url(join-us.css);
@import url(footer.css);

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    min-width: 1200px;
    font-family: 'font', sans-serif;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex{
    display: flex;
}

.section-title{
    margin: 0;
    margin-bottom: 40px;
}

.section-descr{
    margin: 0;
    margin-bottom: 50px;
}

.section-offset{
    padding-top: 87px;
    padding-bottom: 160px;
}