@import url(header.css);
@import url(hero.css);
@import url(services.css);
@import url(articles.css);
@import url(clients.css);
@import url(contacts.css);
@import url(join-us.css);
@import url(footer.css);

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    min-width: 1200px;
    font-family: 'font', sans-serif;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn{
    padding: 15px 35px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #3172B9;
    color: #FFF;
    border-radius: 3px;
}

.flex{
    display: flex;
}

.section-title{
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    color: #1C1C1C;
}

.section-descr{
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #787878;
}

.section-offset{
    padding-top: 87px;
    padding-bottom: 160px;
}

.section-offset{
    padding-top: 87px;
    padding-bottom: 160px;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Light'), url(../fonts/OpenSansLight.woff2) format("woff2"),
    url(../fonts/OpenSansLight.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'), url(../fonts/OpenSansRegular.woff2) format("woff2"),
    url(../fonts/OpenSansRegular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-SemiBold'), url(../fonts/OpenSansSemiBold.woff2) format("woff2"),
    url(../fonts/OpenSansSemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
